/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
* What follows is the result of much research on cross-browser styling.
* Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
* Kroc Camen, and the H5BP dev community and team.
*/

/* ==========================================================================
Base styles: opinionated defaults
========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Vendor-prefixed and regular ::selection selectors cannot be combined:
* https://stackoverflow.com/a/16982510/7133471
*
* Customize the background color to match your design.
*/

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
* A better looking default horizontal rule
*/

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
* Remove the gap between audio, canvas, iframes,
* images, videos and the bottom of their containers:
* https://github.com/h5bp/html5-boilerplate/issues/440
*/

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
* Remove default fieldset styles.
*/

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
* Allow only vertical resizing of textareas.
*/

textarea {
  resize: vertical;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
Author's custom styles
========================================================================== */


/*GLOBAL*/

*{
  box-sizing: border-box;
}

h1, h2 {
  margin: 0;
}

/*section*/
section {
  text-align: center;
  padding: 7%;
}

.section--black {
  background-color: #000000;
  color: #ffffff;
}

.section--white {
  color: #000000;
}

/*nav*/

/*accents*/

.underline {
  width: 80px;
  height: 10px;
  margin: 30px auto 30px auto;
  border-style: solid;
  border-width: 3px;
}

.underline--cream {
  background-color: #fffccd;
  border-color: #000000;
}

.underline--white {
  background-color: #000000;
  border-color: #ffffff;
}

.underline--small {
  width: 50px;
}

/*nav*/

.nav__menu {
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #ffffff;
}

.nav__menu--show {
  display: block;
}

.nav__menu__close {
  float: right;
  margin: 5px;
  font-size: 1.5em;
  border: none;
}

.nav__icon {
  width: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 32px;
  position: absolute;
  right: 5%;
  z-index: 3;
}

.nav__icon__bar {
  border-style: solid;
  border-color: #ffffff;
  background-color: #ffffff;
  border-width: 3px;
}

.nav__menu__ul {
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

/*titles and text*/
.title__h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 3.5em;
  color: #ffffff;
  padding-top: 20%;
}

.title__h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.75em;
  color: #000000;
  font-weight: 100;
  letter-spacing: 1px;
  padding: 30px 0;
}

.title__h2--nav {
  padding: 30px 0;
  text-decoration: none;
  color: #000000;
}

.title__h2--cream {
  color: #fffccd;
}

.title__h2--less_padding {
  padding: 10px 0;
}

.title_h3 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.25em;
  color: #000000;
  letter-spacing: 3px;
}

.title__h3--white {
  color: #ffffff;
}

.title__h3--light {
  font-weight: lighter;
}

.text {
  font-family: sans-serif;
}

.text--tiny {
  font-size: small;
}

.text--grey {
  color: #999999;
  text-decoration: none;
}

.text--cream {
  color: #fffccd;
}

/*HEADER*/

.hero {
  padding: 5%;
  height: 100vh;
}

/*boxes for header titles and canvas*/
.hero__halfpage {
  /*padding: 5%;*/
}


/*titles*/

.hero__titles {
  height: 65%;
  /*text-align: center;*/
}

.hero__titles--centre {
  text-align: center;
}

/*header canvas*/

.canvas_area {
  height: 30%;
  padding: 5%;
  position: relative;
}

.canvas_area__main, .canvas_area__data, .canvas_area__alt {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.canvas_area__main {
  z-index: 1;
  background-color: #000000;
}

.canvas_area__data {
  z-index: 0;
}

.canvas {
  height: 100%;
  width: 100%;
  border: solid #000000;
}

.canvas_area__alt {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 4;
}

.canvas_area__alt__img {
  flex-shrink: 0;
  max-width: 80%;
  max-height: 80%;
}

/*ABOUT*/

.about__content {
  text-align: left;
  padding: 0 5%;
}

.about__profile {
  padding: 5%;
  /*display: block;*/
}

.about__profile__pic {
  width: 100%;
  /*display:block;*/
}

/*PORTFOLIO*/

.sample {
  font-family: 'Josefin Sans', sans-serif;
  color: #ffffff;
}

.sample__main {
  margin: 15% 0;
}

.sample__img {
  border-radius: 15px;
  width: 100%;
}

.sample__content {
  padding: 0 10% 0 10%;
}

.sample__button {
  border: 1px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
}

/*SKILLS*/
/*http://konpa.github.io/devicon/*/
.skills {
  display: flex;
  flex-wrap: wrap;
  margin: 70px 0;
}

.skills__box {
  flex: 1 0 auto;
  padding: 0 5px;
}

.skills__icon {
  font-size: 80px;
}

.skills__title {
  font-family: sans-serif;
}

/* CONTACT */
.contact__linkedin_icon {
  width: 20px;
  height: 20px;
  margin: 1em;
}

/*RESPONSIVE*/
@media (min-width: 768px) {

  /*HEADER*/

  .hero__titles {
    height: 30%;
  }

  /*header canvas*/

  .canvas_area {
    height: 70%;
  }

  .title__h1 {
    padding-top: 5%;
  }

  /*ABOUT*/
  .about__content {
    padding: 0 15% 0 15%;
  }

  .about__profile {
    padding: 10%;
  }

  /*PORTFOLIO*/

  .sample__main {
    margin: 10% 0;
  }

  .sample__content {
    padding: 0 20% 0 20%;
  }

}

@media (min-width: 920px) and (orientation : landscape) {

  /*GLOBAL*/

  .title__h1 {
    font-size: 6em;
    padding-top: 0;
  }

  .title__h2 {
    font-size: 2.2em;
  }

  .title_h3 {
    font-size: 2.25em;
    margin: 0;
  }

  .text {
    font-size: 1.25em;
  }

  /*HEADER*/

  .hero__halfpage {
    float: left;
    width: 50%;
    height: 100%;
    padding: 10% 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /*.hero__titles {
  float: left;
  width: 50%;
  height: 100vh;
  padding: 10% 0;
  display: flex;
  align-items: center;
  justify-content: center;
  }*/

  /*header canvas*/

  /*.canvas_area {
  float: left;
  width: 50%;
  height: 100vh;
  padding: 10% 0;
  display: flex;
  align-items: center;
  justify-content: center;
  }*/

  /*ABOUT*/

  .about__main {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .about__content {
    width: 50%;
    /*float: left;*/
    padding: 0;
    text-align: left;
  }

  .about__profile {
    /*width: 50%;*/
    padding: 0%;
    /*float: left;*/
  }

  .about__profile__pic {
    width: 100%;
  }

  /*PORTFOLIO*/

  .sample__main {
    display: flex;
    align-items: center;
  }

  .sample__img {
    width: 100%;
  }

  .sample__img_holder{
    width: 100%;
  }

  .sample__content {
    padding: 0 5%;
    width: 100%;
  }

}

/*@media (min-width: 1030px) and (orientation : landscape) {
.hero__titles__vert_centre {
padding: 35% 0;
}
}*/


/* ==========================================================================
Helper classes
========================================================================== */

/*
* Hide visually and from screen readers
*/

.hidden {
  display: none !important;
}

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}
